* text=auto
*.sh text eol=lf
**/entrypoint.sh text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# PowerShell scripts keep CRLF on Windows
*.ps1 text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
