name: build wine

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - main
    paths:
      - wine/**

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  push:
    name: "wine:${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - devel
          - stable
          - staging
          - ubuntustaging
          - notini

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./wine
          file: "./wine/${{ matrix.tag }}/Dockerfile"
          platforms: linux/amd64
          push: true
          tags: "ghcr.io/goover/wine:${{ matrix.tag }}"
          # Cache only if image exists
          cache-from: "type=registry,ref=ghcr.io/goover/wine:${{ matrix.distro }} || echo 'no cache'"
          cache-to: "type=registry,mode=max,ref=ghcr.io/goover/wine:${{ matrix.distro }}-cache"
