name: build games

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - main
    paths:
      - games/**

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  push:
    name: "games:${{ matrix.game }}"
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        game:
          - altv
          - conan
          - dayz
          - interstellarrift
          - longvinter
          - mohaa
          - riskofrain2
          - samp
          - screeps
          - staxel
          - thefront
          - valheim
          - wurm
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: ./games/${{ matrix.game }}
          file: ./games/${{ matrix.game }}/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
             ghcr.io/goover/games:${{ matrix.game }}
